<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteRule ^$ public/index.php [L,QSA]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)$ public/webengine.php [L,QSA]

</IfModule>

Options -Indexes

AddDefaultCharset UTF-8